{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Iste, corporis modi eum vel nisi veniam mollitia nesciunt, eligendi,
 laboriosam aperiam molestiae quas! Reprehenderit et laborum ducimus ab? 
 Dolore accusamus ea hic enim expedita, soluta facilis molestias libero
  quidem similique quod.
</p>
<p>Earum consequatur voluptatem soluta odio qui, dolorem adipisci 
neque nihil deleniti obcaecati ducimus maiores voluptatum!
 Cumque minus officia, rem odio qui exercitationem dicta nostrum
  assumenda saepe facilis unde perferendis adipisci impedit ducimus
   eos? Fugiat laboriosam nulla nemo deserunt. Dolorem, placeat!
</p>

{% endblock %}
